.theory{
    margin: 0 auto;
    background-color: rgb(229, 247, 247);
    text-align: center;
    max-width: 70%;
    border: 1px solid;
    border-radius: 20px;


}
h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}

p{
    font-size: 12px;
}

.practice{
    align-items: center;
}

.btn{
    border: 1px solid rgb(114, 114, 245);
    background-color: rgb(114, 114, 245);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
}

.user-info{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
}

span{
    padding-bottom: 5px;
}